<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Site</title>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <script>
            window.onload = function () {
                google.accounts.id.initialize({
                    client_id: '748775678800-crcoq8afjhu91pvjgabh6m59ijq41t14.apps.googleusercontent.com',
                    callback: handleCallbackResponse
                });
                google.accounts.id.prompt();
            };
          </script>
    </head>
    <body>
        <div id="app"></div>
        {% render_bundle 'frontend' %}
    </body>
</html>