body {
    margin: 0;
    cursor: default;
}

main.container {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    padding-top: 1%;
}

div.col {
    padding-right: 1%;
}

div.col:first-child {
    padding-left: 1%;
}

div.left {
    width: 20%;
}

div.center {
    width: 60%;
    height: 100%;
}

div.right {
    width: 20%;
}

div.row.top {
    padding-bottom: 1%;
}

.title {
    text-align: center;
    font-size: 150%;
    padding: 0px;
}

.subtitle {
    font-size: 100%;
    text-align: center;
    padding: 0px;
}

div.header {
    padding: 1%;
    border-radius: 10px;
    border: 1px solid;
    background-color: #faf9ff;
}

div.board {
    border: 1px solid;
    padding: 0;
    position: relative;
}

div.panel {
    border-radius: 10px;
    border: 1px solid;
    background-color: #faf9ff;
    padding: 5%;
}

div.header {
    position: relative;
}

div.header div.button {
    text-align: center;
    border-radius: 15px;
    border: 1px solid;
    background-color: #ced4da;
    padding: 0%;
    top: 32.5%;
    height: 35%;
    position: absolute;
}

div.header div.button:hover {
    box-shadow: 3px 3px 3px gray;
}

div.header div.left {
    left: 0%;
    width: 10%;
    margin-left: 1%;
}

div.header div.right {
    right: 0%;
    width: 15%;
    margin-right: 1%;
}

#board {
    padding: 0;
    height: 500px;
}

div#players.panel {
    position: relative;
}

div#gamesettings ul.settings{
    position: relative;
}

div#gamesettings ul.settings li {
    position: relative;
}

div#gamesettings div.settingsname {
    width: 50%;
}

div#gamesettings select {
    position: absolute;
    top: 0%;
    right: 0%
}

div#gamesettings div.startgame {
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    width: 50%;
    margin:auto;
    cursor: pointer;
}

div#gamesettings div.startgame:hover {
    box-shadow: 1px 1px 5px grey;
}

div.card {
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    position: relative;
    padding: 2%;
}

div.card:hover {
    box-shadow: 3px 3px 5px gray;
}

div.panel hr {
    margin-left: 5%;
    margin-right: 5%;
}

div.panel ul {
    list-style-type: none;
    padding: 0%;
    margin: 0;
}

div.panel li {
    margin-bottom: 5%;
}

div.panel li:last-child{
    margin:0%;
}

div.panel div.playerleft {
    padding-left: 5%;
    left: 0%;
    width: 75%;
}

div#players.panel div.name {
    font-size: 150%;
}

div#players.panel div.civ {
    font-size: 100%;
    margin: 0%;
    padding: 0%;
}

div#players.panel div.info {
    font-size: 100%;
    margin: 0%;
    padding: 0%;
}

div#players.panel div.infotype {
    font-size: 100%;
}

div#players.panel div.playerright {
    position: absolute;
    font-size: .5rw;
    text-align: center;
    border-radius: 5%;
    border: 1px solid;
    width:  40%;
    max-height: 70%;
    right: 5%;
    top: 15%;
}

div.over-board {
    position: absolute;
    z-index: 500;
}
/* 
div.phases-span {
    display: inline-flex;
    flex-direction: row;
} */

div.phases {
    width: 60%;
    top: 0%;
    margin-top: 1%;
    left:20%;
    border: 1px solid;
    border-radius: 5px;
    background-color:#faf9ff;
    display:inline-flex;
}

div.phases div.phase {
    position: relative;
    flex: auto;
    border: 1px solid;
    height: 15px;
    left: 0%;
    padding: 3px;
    text-align: center;
}

div.phases div.phase.highlight {
    border: 1px gray solid;
    background-color: #82c91e;
    box-shadow: 0px 0px 10px yellow;
}

div.modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
}

div.modal div.modal-content{
    margin: auto;
    width: 300px;
    background-color: #faf9ff;
    border-radius: 10px;
    border: 1px solid;
}

div.modal div.modal-content div.modal-header {
    display:flex;
    position: relative;
}

div.modal div.modal-content div.modal-header div.title {
    margin: auto;
}

div.modal div.modal-content div.modal-header div.subtitle.close {
    position: absolute;
    right: 0%;
    margin: 2%;
    padding:1.5%;
    color: #000000;
    background-color: red;
    font-size: 50%;
    border-radius: 50%;
    border: 1px solid;
  }

div.modal div.modal-content div.modal-header div.subtitle.close:hover {
    text-decoration: none;
    cursor: pointer;
    box-shadow: 1px 1px 5px gray;
}

div.modal div.modal-content hr {
    padding-left: 45%;
    padding-right: 45%;
}

div.modal div.modal-content div.modal-body {
    padding: 0%;
    overflow-y: scroll;
}

div.modal div.modal-content div.modal-body ul {
    margin: 5%;
    padding: 0%;
}

div.modal div.modal-content div.modal-body ul div.card {
    position: relative;
    list-style: none;
    font-size: 100%;
    margin-top: 5%;
    padding:2%
}

div.modal div.modal-content ul li span.right {
    position: absolute;
    right: 5%
}

div#board.no-board {
    width: 100%;
    display: inline-flex;
    background-color: #faf9ff;
    align-items: center;
    justify-content: center;
}

div#board.no-board div.login {
    border-radius: 10px;
    background-color: #faf9ff;
    border: 1px solid;
    padding: 1%;
}

div.buttons-side {
    display: inline-flex;
    justify-content: center;
}
